<header class="main-header">
    <div class="main-header-top-bar">
        <a class="burger"><img src="/img/icon/burger.svg" alt="burger menu"></a>
        <a class="lupe"><img src="/img/icon/lupe.svg" alt=""></a>
        <a href="/"class="logo">VIINO</a>
        <a class="user" href="/user/login"><img src="/img/icon/user.svg" alt=""></a>
        <a class="bag" href="/cart"><img src="/img/icon/bag.svg" alt=""></a>
    </div>  
    
    <nav class="main-header-bottom-bar">
        <ul type="none">
            <li><a href="">NOSOTROS</a></li>
            <li><a href="">FAVORITOS</a></li>
            <li><a href="">SHOP</a></li>
            <li><a href="">TINTOS</a></li>
            <li><a href="">BLANCOS</a></li>
            <li><a href="">BODEGAS</a></li>
            <li><a href="">OTROS</a></li>
            <li><a href="">NOVEDADES</a></li>
            <li><a href="">SELECCION</a></li>
        </ul>
    </nav>
    
</header>