<footer class="footer">
    <a href="/"><h2 class="footer-title">VIINO</h2></a>
    <div class="footer-content">
        <section class="address">
            <h3>NUESTRO LOCAL</h3>
            <p>Av Forest 4444, Colegiales, Ciudad Autonoma de Buenos Aires, Argentina.</p>
        </section>
        <section class="contact-us">
            <h3>CONTACTO</h3>
            <p>+549114444444</p>
            <p>info@viino.com.ar</p>
        </section>
        <section class="more-info">
            <h3>INFORMACION</h3>
            <a href=""><p>FAQs</p></a>
            <a href=""><p>Legales</p></a>
            <a href=""><p>Política de privacidad</p></a>
        </section>
    </div>
    <div class="social-media">
        <a href=""><img src="/img/icon/facebook.svg" alt="Contacto facebook"></a>
        <a href=""><img src="/img/icon/youtube.svg" alt="Contacto youtube"></a>
        <a href=""><img src="/img/icon/instagram.svg" alt="Contacto instagram"></a>
        <a href=""><img src="/img/icon/whatsapp.svg" alt="Contacto whatsapp"></a>
    </div>
</footer>