<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon/wine.ico">
    <title>VIINO</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">    

</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a class="burger"><img src="img/icon/burger.svg" alt="burger menu"></a>
            <a class="lupe"><img src="img/icon/lupe.svg" alt=""></a>
            <a href="/"class="logo">VIINO</a>
            <a class="user" href="/user/login"><img src="img/icon/user.svg" alt=""></a>
            <a class="bag" href="/cart"><img src="img/icon/bag.svg" alt=""></a>
        </div>
    </header>

    <main class="main">
        <div class=main-title-container>
            <a value="Go back!" onclick="history.back()" class="back-arrow"><img src="img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">TU COMPRA</h1>
        </div>
        <section class="cart">

            <article class="cart-product">
                <div class="cart-product-container">
                    <img class="cart-product-image" src="/img/product-img/Rocamadre-Criolla.png" alt="Vino A Lisa 2019 Noemia">
                    <div class="cart-product-info">
                        <h3 class="cart-product-title">CRIOLLA 2021</h3>
                        <h4 class="cart-product-producer">Rocamadre</h4>
                        <p class="cart-product-price">$1700</p>
                    </div>
                    <div class="cart-product-counter">
                        <button class="less">-</button>
                        <p class="actual-quantity">3</p>
                        <button class="more">+</button>
                    </div>    
                </div>
                <div class="cart-product-delete">
                    <img class="delete-icon" src="/img/icon/delete.svg" alt="Borrar producto del carro">
                </div>
            </article>

            <article class="cart-product">
                <div class="cart-product-container">
                    <img class="cart-product-image" src="/img/product-img/Noemia-A-Lisa.png" alt="Vino A Lisa 2019 Noemia">
                    <div class="cart-product-info">
                        <h3 class="cart-product-title">A LISA 2019 </h3>
                        <h4 class="cart-product-producer">Noemia</h4>
                        <p class="cart-product-price">$2500</p>
                    </div>
                    <div class="cart-product-counter">
                        <button class="less">-</button>
                        <p class="actual-quantity">2</p>
                        <button class="more">+</button>
                    </div>    
                </div>
                <div class="cart-product-delete">
                    <img class="delete-icon" src="/img/icon/delete.svg" alt="Borrar producto del carro">
                </div>
            </article> 

            <article class="cart-product">
                <div class="cart-product-container">
                    <img class="cart-product-image" src="/img/product-img/Riccitelli-Kung-Fu-Tinto.png" alt="Vino A Lisa 2019 Noemia">
                    <div class="cart-product-info">
                        <h3 class="cart-product-title">KUNG FU TINTO 2020</h3>
                        <h4 class="cart-product-producer">Riccitelli</h4>
                        <p class="cart-product-price">$2500</p>
                    </div>
                    <div class="cart-product-counter">
                        <button class="less">-</button>
                        <p class="actual-quantity">1</p>
                        <button class="more">+</button>
                    </div>    
                </div>
                <div class="cart-product-delete">
                    <img class="delete-icon" src="/img/icon/delete.svg" alt="Borrar producto del carro">
                </div>
            </article> 

            <div class="big-buttons">
                <button type="button" class="white-button">SEGUIR COMPRANDO</button>
                <button type="reset"  class="white-button">VACIAR CARRITO</button>
                <button type="submit" class="black-button">SUBTOTAL $ 6700</button>
            </div>
        </section>
    </main>

    <footer class="footer">
        <a href="/"><h2 class="footer-title">VIINO</h2></a>
        <div class="footer-content">
            <section class="address">
                <h3>NUESTRO LOCAL</h3>
                <p>Av Forest 4444, Colegiales, Ciudad Autonoma de Buenos Aires, Argentina.</p>
            </section>
            <section class="contact-us">
                <h3>CONTACTO</h3>
                <p>+549114444444</p>
                <p>info@viino.com.ar</p>
            </section>
            <section class="more-info">
                <h3>INFORMACION</h3>
                <a href=""><p>FAQs</p></a>
                <a href=""><p>Legales</p></a>
                <a href=""><p>Política de privacidad</p></a>
            </section>
        </div>
        <div class="social-media">
            <a href=""><img src="/img/icon/facebook.svg" alt="Contacto facebook"></a>
            <a href=""><img src="/img/icon/youtube.svg" alt="Contacto youtube"></a>
            <a href=""><img src="/img/icon/instagram.svg" alt="Contacto instagram"></a>
            <a href=""><img src="/img/icon/whatsapp.svg" alt="Contacto whatsapp"></a>
        </div>
    </footer>
</body>
</html>