<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{subtitle:'cart'}) %>

<body>
    <%- include('../partials/header')%>

    <main>
        <div class="main-title-container">
            <a value="Go back!" onclick="history.back()" class="back-arrow"><img src="/img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">TU CUENTA</h1>
        </div>

        <section class="form-container">
            <figure class="product-detail-image-container">
                <img class="product-detail-image" src="/img/users-img/<%= locals.userLogged.image %>" alt="Imagen de perfil">
            </figure>
            <p class="form-text">Este es tu perfil de usuario</p>


            <form action="/user/logout" method="GET">
                <button class= "black-button"type="submit" value="enviar">CERRAR SESIÓN</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer')%>

    
</body>
</html>