<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{subtitle:'register',styleSheetName:'styles-register'}) %>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="foto">
            <img src="/img/register.jpg" >
        </div>
        <div class="texto">
            <div class="flecha-titulo">
                <img class="flecha" src="/img/icon/arrow.svg" alt="">   
                <h1 class="titulo">TU CUENTA</h1>
            </div><br>
            <div class="accion">
                <div class="iniciarSesion">
                    <p>INICIA SESIÓN</p>
                </div>
                <div class="registrarse">
                    <p>REGISTRATE</p>
                </div>
            </div> <br>   
            <p>Creá una cuenta en VIINO y obtené el beneficio de una experiencia de compra más personal y de un pago on-line más veloz.</p><br>
            <p class="completar">Completar todos los campos es obligatorio</p><br>
            <form action="resultadosRegister" method="POST">
                <div class="campoEncuenta">
                    <label for="nombre">Nombre:</label>
                    <input class="barra" type="text" name="nombre" id="nombre" placeholder="Nombre">
                </div>
                <div class="campoEncuenta">
                    <label for="apellido">Apellido:</label>
                    <input class="barra" type="text" name="apellido" id="apellido" placeholder="Apellido">
                </div>
                <div class="campoEncuenta">
                    <label for="email">Correo electrónico:</label>
                    <input class="barra" type="email" name="email" id="email" placeholder="Correo electrónico">
                </div>
                <div class="campoEncuenta">
                    <label for="password">Contraseña:</label>
                    <input class="barra" type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <button type="submit" value="enviar">CREAR CUENTA</button><br><br><br>
            </form>
        </div>
    </main>
    <%- include('../partials/footer')%>
    
</body>
</html>